@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  font-family: "Courier New", Arial, sans-serif; }

body {
  margin: 1rem; }
  body h1, body h2 {
    color: #f15a24; }
  body ul {
    margin-left: 1rem; }
